<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenses table</title>
    <link href="/styles/expenses.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:switch="${expenses}">
    <h1 th:case="null">No expenses yet!</h1>
    <div th:case="*">
        <h1>Expenses</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.id}"></td>
                <td th:text="${expense.amount}"></td>
                <td th:text="${expense.comment}"></td>
                <td th:text="${expense.date}"></td>
<!--                <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<form action="#" th:action="@{/exepnse/{id}(id=${1})}" th:object="${expense}" method="get">

</form>

</body>
</html>