h1 {
    font-size: 35px;
    text-align: center;
}

table {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 1px;
    border: 2px solid;
}

table th {
    padding: 5px 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    background-color: #ffd966;
}

table td {
    padding: 5px 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
}
